---
import { Loader2 } from "lucide-react";

import Layout from "@/layouts/Layout.astro";
import Activities from "@/components/Activities";
---

<Layout>
    <main class="container mx-auto px-4 py-8">
        <div class="flex items-start gap-2 mb-4">
            <h1 class="text-3xl font-bold">Sesculto</h1>
            <span class="bg-blue-800 text-white px-1 py-0.5 rounded text-xs"
                >Beta</span
            >
        </div>
        <Activities client:only="react">
            <div slot="fallback" class="flex justify-center items-center h-64">
                <Loader2 className="h-8 w-8 animate-spin text-primary" />
                <span class="ml-2">Carregando...</span>
            </div>
        </Activities>
    </main>
</Layout>
