---
import Layout from "@/layouts/Layout.astro";
import Activities from "@/components/Activities";
---

<Layout>
    <p class="text-red-500">Sesculto</p>
    <Activities client:only="react" />
</Layout>
