---
import "../styles/global.css";

import { type SEOProps as Props, SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/sescsp-favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...Astro.props} />
    <script
      is:inline
      data-goatcounter="https://sesculto.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
